.fwContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  color:white;
  font-weight: 500;
  font-size:2em;
  width:16rem;
  text-align: center;
  line-height: 1.2em;
}

.button {
  background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.8em;
    margin-top:0.5rem;
    font-weight: bold;
}