.navbarMainContainer {
  background-color: #ffffff;
  height: 5rem;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  z-index: 99;
}

.navbarContainer {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.underContainer {
  position: relative;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-shrink: 0;
  height: 100%;
  width: 23%;
}

.otherContainer img {
  height: 100%;
}

.otherContainer {
  display: flex;
  height: 80%;
  justify-content: center;
  margin: auto;
}

.menuContainer {
  width: 77%;
  max-width: 800px;
}


.menuElt {
  font-family: RobotoBold;
  color:#272727;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.25rem;
  font-weight: normal;
  transition: font-size 0.5s ease-in-out;
  width: 10rem;
  text-align: center;
}

.menuElt:hover {
/* background-color: rgb(48, 48, 48); */
font-weight: 600;
color: #eb2d23d8;
}

.menuElt::after {
  content: '';
  display: block;
  width: 0;
  height: 0.1rem;
  margin-bottom: 20px;
  background-color: #eb4f47b2;
  transition: width 0.5s ease-out;
  margin: auto;
}

.menuElt:hover::after {
  width: 5rem;
}


.current {
  font-weight: 900;
  font-size:1.1em;
}

.mobileButtonContainer {
  display: none;
  justify-content: left;
}

.mobileButtonContainer button {
  height: 2rem;
  width: 2.5rem;
  cursor: pointer;
  background-image: url('/icon/mobileMenu.png');
  transition: background-image 0.2s ease-in-out;
  background-size:contain;
  background-repeat: no-repeat;
}

.mobileButtonContainer button:hover {
  background-image: url('/icon/mobileMenu2.png');
}

/* MOBILE NAVBAR */

@media screen and (max-width: 650px) {
  .mobileButtonContainer {
    display: flex;
    margin-left:2rem;
    justify-content: left;
  }

  .otherContainer {
    display: none;
  }

  .menuElt::after {
    display: none;
  }
}

.MobileNavbar {
  top:0;
  left:0;
  position: absolute; 
  right: inherit;
  z-index: 1100; 
  width: 300px; 
  height: 100%; 
  transition: all 0.5s ease 0s; 
  transform: translate3d(-100%, 0px, 0px);
}

.MobileNavbarElts {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 3rem;
  width: 70%;
}

.MobileNavbarElts a {
  border-top: 1px solid #000000;
  height: 4rem;
  line-height: 4rem;
  width: 60%;
}

.MobileNavbarElts a:hover {
  background-color: #fafafa;
}

.MobileNavbarElts a:last-child {
  border-bottom: 1px solid #000000;
}

.activ {
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  position: fixed; 
  right: inherit; 
  z-index: 1100; 
  width: 100%;
  height: 100%;
  transition: all 0.5s ease 0s;
  background-color: white;
  color: #000000;
}

.closeMobileNav {
color:#000000;
font-size: 1.5em;
  position:absolute;
  top:5%;
  right:10%;
}

.openMobNav {
  font-size: 0;
}