.textImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.image {
  width: 45%;
  /* max-height: 16rem; */
  object-fit: cover;
  max-width: 20rem;
}

.textBlock {
  width: 40%;
  margin-left:2rem;
}

@media screen and (max-width: 650px) {
  .textImgContainer {
    flex-direction: column;
  }

  .image {
    width: 100%;
    max-width: 25rem;
  }

  .textBlock {
    width: 80%;
    margin-left:0;
    text-align: center;
  }
}